<div id="scores" style="text-align: center; overflow:hidden;">
	<h1><%= @flag.desc %></h1>
  <br/>
	<% @tunes.each do |tune| %>
      <div style="float: left; display: inline-block; margin: 0 20px 20px 0; text-align: center; max-width: 175px; position: relative;">
		<a href="<%=tune.url%>" target="_blank">
            <img src="<%= tune.image_url %>" width="175" />
		</a>
      </div>
	<% end %>
	<div class="colmask doublepage">
	<div class="colleft">
	<div class="col1">
	</div>
	<div class="col2">
	</div>
	</div>
</div>
</div>


