<div id="quiz" style="text-align: center;">
	<h1><%= @flag.desc %></h1>
	<% @tunes.each do |tune| %>
		<img src="<%= tune.track.release.image %>" />
		<% link_to(tune_path(tune.track_id)) do %>
		<%= tune.track_title %>
		<%= tune.artist_name %><br />
		<% end %>
	<% end %>
	<div class="colmask doublepage">
	<div class="colleft">
	<div class="col1">
	</div>
	<div class="col2">
	</div>
	</div>
</div>
</div>


